/* General styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
  }
  
  /* Header styles */
  header {
    background-color: #007BFF;
    color: white;
    padding: 20px;
    text-align: center;
  }
  
  header h1 {
    margin: 0;
  }
  
  /* Section styles */
  section {
    padding: 20px;
    text-align: center;
  }
  
  section img {
    margin-top: 10px;
    border-radius: 10px;
    width: 150px;
    height: auto;
  }
  
  /* Footer styles */
  footer {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 10px 0;
  }
  
  button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #218838;
  }